div{
    color: black;
}

.webgl{
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

body{
  overflow: hidden;
}

.audio{
    display: none;
}

.tittle{
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0
}

.tittleDiv{
  position: relative;
}

.title {
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  /* font-size: 5vw; */
  letter-spacing: 2.6vw;
  color: theme('colors.textColor');
  color: hsla(192, 18%, 49%, 1);
  /* text-shadow: 0px 6px 10px #3d5257; */
  filter: drop-shadow(0px 6px 10px #3d5257);
  text-indent: 2.6vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
  user-select: none;
  white-space: nowrap;
  font-size: 28vh;
  font-family: futura-pt;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  pointer-events: none;
  /* margin: 0 auto; */
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, .1);
  letter-spacing: 2vh;
  font-weight: 100;
}

.subtitle{
  user-select: none;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  top: 20vh;
  margin: 0 auto;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  letter-spacing: 0.8vw;
  font-size: 1.2vw;
  text-align: center;
  width: 100%;
}

.key{
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
  /* font-size: 5vw; */
  letter-spacing: 2.4vw;
  color: theme('colors.textColor');
  color: theme('colors.textColor');
  color: hsla(192, 18%, 49%, 1);
  /* text-shadow: 0px 6px 10px #3d5257; */
  filter: drop-shadow(0px 6px 10px #3d5257);
  text-indent: 2.4vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;


}

.header{
  opacity: 0;
  position: fixed;
  width: 100vw;
  height: 12vh;
  top: -5vh;
  left: 0;
  padding: 0;
  margin: 0;
  transition: 1s all ease-in-out;
  z-index: 1000;
  opacity: 1;
  z-index: 1000;
  top: 0;
}

.headerMenu{
  padding: 0;
  margin: 0;
  z-index: 0;
  position: absolute;
  right: 5vw;
  top: 5vh;
}

.menuItems{

}

.header-options{
  color: theme('colors.textColor');
  font-size: 1.5vw;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2vw;
  font-size: .9vw;
  opacity: .5;
  padding-right: 6.5px;
}

.soundIcon{
  width: 100%;
  top: 10%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -10%);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  padding: 0 2rem;
}

.overlay{
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: theme('colors.black');
  opacity: 0.4;
}

.contentDiv{
  display: grid;
  justify-content: center;
  position: absolute;
  top: 12vh;
  left: 0;
  transition: .8s ease-in-out;
  background: none;
  z-index: 100;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  width: 100vw;
  overflow-y: auto; 
  height: 100vh;
  padding-bottom: 10vw;
}

.aboutImgDiv{
  display: grid;
  justify-content: center;
}

.aboutImg{
  object-fit: cover;
  object-position: center center;
  filter: grayscale(80%);
  height: 40vw;
  width: 85vw;
  opacity: 1;
}

.textDiv{
  width: 90vw;
  opacity: 1;
  font-size: 1.4vw;
  color: #fff
}

.textBio{
  text-align: center;
  pointer-events: none;
  margin-top: 15vh;
  margin-bottom: 5vh;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5vw;
  font-size: 1vw;
  color: #3d5257;
  width: 100vw;
}

.about{
  width: 100vw;
  margin-left: 5vw;
}



/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(theme("colors.textColor") 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
  cursor: pointer;
}
@keyframes l2 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  20% {background-size: 20% 60% ,20% 100%,20% 100%}
  40% {background-size: 20% 80% ,20% 60% ,20% 100%}
  60% {background-size: 20% 100%,20% 80% ,20% 60% }
  80% {background-size: 20% 100%,20% 100%,20% 80% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}
     

@media (max-width: 480px) {
  .key{
    font-size: 1.8vw;
    color: #4cbf9d;
    letter-spacing: 2vw;
    font-weight: bolder;
  }
}