.title {
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  letter-spacing: 2.6vw;
  color: theme('colors.textColor');
  color: hsla(192, 18%, 49%, 1);
  filter: drop-shadow(0px 6px 10px #3d5257);
  text-indent: 2.6vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
  user-select: none;
  white-space: nowrap;
  font-size: 28vh;
  font-family: futura-pt;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  pointer-events: none;
  width: 100vw;
  text-align: center;
  color: rgba(255, 255, 255, .1);
  letter-spacing: 2vh;
  font-weight: 100;
}

.subtitle{
  user-select: none;
  position: absolute;
  white-space: nowrap;
  pointer-events: none;
  top: 20vh;
  margin: 0 auto;
  color: rgba(255, 255, 255, .5);
  text-transform: uppercase;
  letter-spacing: 0.8vw;
  font-size: 1.2vw;
  text-align: center;
  width: 100%;
}


.aboutImgDiv{
  display: grid;
  justify-content: center;
}

.aboutImg{
  object-fit: cover;
  object-position: center center;
  filter: grayscale(80%);
  height: 40vw;
  width: 85vw;
  opacity: 1;
}

.textDiv{
  width: 90vw;
  opacity: 1;
  font-size: 1.4vw;
  color: #fff;
  display: grid;
  justify-items: center;
}

.textBio{
  text-align: center;
  pointer-events: none;
  margin-top: 15vh;
  margin-bottom: 5vh;
  color: white;
  text-transform: uppercase;
  letter-spacing: .5vw;
  font-size: 1vw;
  color: #5e858f;
  font-size: 16px;
  width: 100vw;
}

.about{
  width: 100vw;
  width: 85vw;
}

.skillDiv{
  width: 85vw;
  display: grid;
  justify-items: center;
}

.skillContainer{
  display: flex;
  width: 40%;
  background-color:hsla(192, 18%, 49%, 1);
  border-radius: 20px;
  padding: 10px;
  align-items: center;
  box-sizing: border-box;
}

.skillBlock{
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
  justify-content: space-around;
  gap: 20px;
}

.skillIcons{
  object-fit: cover;
  object-position: center center;
  filter: grayscale(80%);
  height: 20px;
  width: 20px;
  opacity: 1;
  margin-right: 10px;
}

.socialIcon{
  width: 3vw;
  min-width: 50px;
  height: auto;
  opacity: 0.7;
}

.socialIcon:hover {
  opacity: 1;
}

.socialDiv{
  display: grid;
  place-items: center;
}

@media (max-width: 768px) {

}

@media (max-width: 600px) {
  .about{
    font-size: 2vh;
  }

  .textBio{
    margin-bottom: 3vh;
    margin-top: 7vh;
    font-size: 2vw;
  }

  .skillDiv{
    padding-bottom: 10vh;
  }
}