@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'futura-pt';
  src: url('./fonts/FuturaPT-Light.woff') format('woff'), 
       url('./fonts/FuturaPT-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000000;
  font-family: 'futura-pt', sans-serif;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-track {
  background: #000;
}