div{
    color: black;
}

.webgl{
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

body{
  overflow: hidden;
}

.audio{
    display: none;
}

.tittle{
  width: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0
}

.name {
  font-size: 8vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  letter-spacing: 2.6vw;
  /* color: theme('colors.textColor'); */
  color: hsla(192, 18%, 49%, 1);
  filter: drop-shadow(0px 6px 10px #3d5257);
  text-indent: 2.6vw;
  opacity: 1;
  font-weight: 100;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
  user-select: none;
}

.key{
  font-size: 1vw;
  text-transform: uppercase;
  text-align: center;
  pointer-events: none;
  font-weight: bold;
  letter-spacing: 2.4vw;
  color: theme('colors.textColor');
  color: theme('colors.textColor');
  color: rgba(255, 255, 255, .5);
  user-select: none;
  filter: drop-shadow(0px 6px 10px #3d5257);
  text-indent: 2.4vw;
  opacity: 1;
  position: relative;
  top: 0;
  left: auto;
  transform: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.footer{
  width: 100%;
  top: 85%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -85%);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  color: theme('colors.textColor');
}

.footer-options{
  color: theme('colors.textColor');
  font-size: 1.5vw;
  cursor: pointer;
  padding: 0 4vw;
}

.soundIcon{
  width: 100%;
  top: 5%;
  left: 50%;
  z-index: 1001;
  position: absolute;
  transform: translate(-50%, -5%);
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  padding: 0 2rem;
}

.overlay{
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  z-index: 100;
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: theme('colors.black');
  opacity: 0.7;
}

.top-bar.bar{
  height: 10vh;
  width: 100vw;
  background: black;
  position: fixed;
  z-index: 1000;
  top: 0;
  transition: .3s ease-in-out;
}

.bottom-bar.bar{
  height: 10vh;
  width: 100vw;
  background: black;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  transition: .3s ease-in-out;
}

.open-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: white;
  padding: 20px 25px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.loader {
  width: 12px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(theme("colors.textColor") 0 0);
  background: 
    var(--c) 0%   100%,
    var(--c) 50%  100%,
    var(--c) 100% 100%;
  animation: l2 1s infinite linear;
  cursor: pointer;
  transition: background-size 0.5s ease; /* Smooth transition */
}

@keyframes l2 {
  0%  {background-size: 20% 100%, 20% 100%, 20% 100%}
  20% {background-size: 20% 60%,  20% 100%, 20% 100%}
  40% {background-size: 20% 80%,  20% 60%,  20% 100%}
  60% {background-size: 20% 100%, 20% 80%,  20% 60%}
  80% {background-size: 20% 100%, 20% 100%, 20% 80%}
  100%{background-size: 20% 100%, 20% 100%, 20% 100%}
}

.paused {
  width: 12px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(theme("colors.textColor") 0 0);
  background: 
    var(--c) 0% 100%,   /* Left bar */
    var(--c) 50% 100%,  /* Middle bar */
    var(--c) 100% 100%; /* Right bar */
  background-size: 20% 20%, 20% 20%, 20% 20%; /* Fixed size for all bars */
  cursor: pointer;
  transition: background-size 0.5s ease; /* Optional smooth effect on resize */
}
     

@media (max-width: 480px) {
  .key{
    font-size: 1.8vw;
    color: #4cbf9d;
    letter-spacing: 2vw;
    font-weight: bolder;
  }

  .name{
    color: #3cffc5;
  }

  .soundIcon{
    top: 3%;
    transform: translate(-50%, -3%);
    justify-content: start;
  }

  .footer-options{
    font-size: 3vw;
    color: theme('colors.white');
    opacity: 0.5;
  }

  .footer{
    width: 100%;
    top: 95%;
    transform: translate(-50%, -95%);
  }

  .top-bar.bar{
    display: none;
  }

  .bottom-bar.bar{
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-options{
    font-size: 3vw;
  }
}

